* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 10; */
  padding: 10px;
  background-color: #aaa;
}

main {
  margin-top: 20px;
}

footer {
  padding: 10px;
  background-color: #aaa;
}

header {
  padding: 10px;
}

h3 {
  margin: 0;
}

.experience-section {
  background-color: #aaa;
  padding: 10px;
}

.add-goal-section {
  padding: 10px;
}

.track-section {
  background-color: #aaa;
  padding: 10px;
}

.start-section, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
}

[type=submit], button {
  margin: 10px;
}